.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}
.mainContainer h3 a{
    color: aquamarine;
    text-decoration: none;
}

.mainContainer h3 a:hover{
    background-color: blueviolet;
    border-radius: 5px;
}