.header{
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    background-color: #282c34;
    height: 50px;
    opacity: 0.8;
    position: fixed;
    width: 100%;
}
.header a{
    color: aquamarine;
    text-decoration: none;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.header a:hover{
    background-color: blueviolet;
    color: white;
}